extends layout

block content
   include personal
   include work
   include education
   include portfolio
   include skills
   include honors
   include references
   include hobby
   include travel
   