- var personal = contents['personal.json'].metadata
div.row
  div.ten.columns
    h1= personal.name
  div.two.columns
    span= personal.city
    br
    span= personal.country
    br
    span= personal.email