h3 Portfolio
each item in contents['portfolio.json'].metadata     
  h4= item.title
  div.row
    div.three.columns
      img(src='images/' + item.picture)
    div.seven.columns
      a(href=item.link) link of the project
