h3 References
table.u-full-width
  thead
    tr
      th Name
      th Info
  tbody
  each reference in contents['references.json'].metadata     
    tr
      td= reference.name
      td= reference.info