h3 Skills
table.u-full-width
  thead
    tr
      th Name
      th Expertise
      th Experience
  tbody
  each skill in contents['skills.json'].metadata     
    tr
      td= skill.name
      td= skill.expertise
      td= skill.experience